---
title: 'Industrial'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'Industrial/'
eleventyNavigation:
    key: Industrial
    order: 300
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/service.css">
{% endblock %}

{% block body %}
    <!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-712">
    <div class="cs-container">
        <span class="cs-int-title">Industrial</span>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="/assets/images/Hero2.jpg">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="/assets/images/Hero2.jpg">
        <img loading="lazy" decoding="async" src="/assets/images/Hero2.jpg" alt="pills" width="1280" height="568" aria-hidden="true">
    </picture>
</div>

<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="sbs-418">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Services</span>
            <h2 class="cs-title">Industrial</h2>
            <p class="cs-text">
              At Army Electric, we power more than machines; we fuel industrial ambition. Our adept electricians are experts in adapting to the rigorous demands of Toronto's industrial sector, ensuring your operations are supported by resilient and efficient electrical foundations. With us, your industrial space isn't just maintained—it's optimized for enduring success.
            </p>
            <div class="cs-button-group">
                <a href="/projects" class="cs-button-solid">Our Projects</a>
              
            </div>
        </div>
        <div class="cs-image-group">
            <picture class="cs-picture">
                <source media="(max-width: 600px)" srcset="/assets/images/about1.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/about1.jpg">
                <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/about1.jpg" alt="yard" width="558" height="496">
          
        </div>
    </div>
</section>


<!-- ============================================ -->
<!--                 Why Choose                   -->
<!-- ============================================ -->

<section id="why-choose-12">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Expertise</span>
            <h2 class="cs-title">Why Choose Us?</h2>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-picture">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Why-Choose/sheild.svg" alt="heart icon" width="42" height="42" aria-hidden="true">
                </picture>
                <h3 class="cs-h3">Unmatched Industrial Expertise</h3>
                <p class="cs-item-text">
              We bring a deep understanding of industrial complexities, delivering solutions that match the scale and intensity of your operations.
                </p>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Why-Choose/toolbox.svg" alt="toolbox icon" width="42" height="42" aria-hidden="true">
                </picture>
                <h3 class="cs-h3">Future-Ready Solutions</h3>
                <p class="cs-item-text">
                   Our forward-thinking approach ensures your electrical systems are not only robust today but adaptable for tomorrow's technological advancements.
                </p>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Why-Choose/ribbon.svg" alt="ribbon icon" width="32" height="42" aria-hidden="true">
                </picture>
                <h3 class="cs-h3">Reliability When It Matters</h3>
                <p class="cs-item-text">
                 In the high-stakes industrial world, we stand as your pillar of reliability, minimizing downtime and maximizing productivity.
                </p>
            </li>
        </ul>
        <a href="/contact" class="cs-button-solid">Ask Us Anything</a>
    </div>
</section>
                                
    {% include 'components/cta.html' %}

{% endblock %}